@model NewReservacionVM
@{
    ViewData["Title"] = "Reservando";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <h4>Editanto Reserva</h4>
        <div class="row">
            <form asp-action="Edit">
                 <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                 <div class="row">
                     <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Nombre" class="form-label"></label>
                            <input asp-for="Nombre" class="form-control"/>
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                         <div class="form-group">
                            <label asp-for="Apellido" class="form-label"></label>
                            <input asp-for="Apellido" class="form-control"/>
                            <span asp-validation-for="Apellido" class="text-danger"></span>
                        </div>
                         <div class="form-group">
                            <label asp-for="Correo" class="form-label"></label>
                            <input asp-for="Correo" type="email" class="form-control"/>
                            <span asp-validation-for="Correo" class="text-danger"></span>
                        </div>
                     </div>
                     <div class="col-md-6">
                         <div class="form-group">
                            <label asp-for="FechaSalida" class="form-label"></label>
                            <input asp-for="FechaSalida" type="date" class="form-control"/>
                            <span asp-validation-for="FechaSalida" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FechaRegreso" class="form-label"></label>
                            <input asp-for="FechaRegreso" type="date" class="form-control"/>
                            <span asp-validation-for="FechaRegreso" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Id_Destinos" class="form-label"></label>
                            <select asp-for="Id_Destinos" class="form-control"  asp-items="ViewBag.destinos"></select>
                            <span asp-validation-for="Id_Destinos" class="text-danger"></span>
                        </div>
                     </div>
                 </div>

                 
                    
                    <div class="form-group">
                        <input type="submit" value="Edit" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-controller="Destinos" asp-action="Index">Show all</a>
                    </div>
            </form>
        </div>
    </div>
</div>