<div class="row text-center" >
    <div class="">
        <h1 class="text-info">Tu viaje a finalizado</h1>
        <h1 class="text-info">Att:</h1>
        <h1 class="text-info">Jony Morales</h1>
        <h1 class="text-info">Gissela Serrano</h1>
        <hr/>
        <a  class="btn btn-dark" asp-controller="Destinos" asp-action="Index"><i class="bi bi-house-fill"></i></a>
    </div>

</div>