@using Agencia_viajes_dse.Data.Enum
@model NewDestinoVM

@{
    ViewData["Title"] = "Agregar nuevo destino";
}
<div class="row"> 
    <div class="col-md-8 offset-md-2">
        <p>Agregar un nuevo Destino</p>
        <div class="row">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Nombre" class="form-label"></label>
                            <input asp-for="Nombre" class="form-control"/>
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Descripcion" class="form-label"></label>
                            <textarea asp-for="Descripcion" class="form-control"></textarea>
                            <span asp-validation-for="Descripcion" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Costo_Principal" class="form-label"></label>
                            <textarea asp-for="Costo_Principal" class="form-control"></textarea>
                            <span asp-validation-for="Costo_Principal" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TLugar" class="form-label"></label>
                            <select asp-for="TLugar" class="form-control"  asp-items="Html.GetEnumSelectList<TLugar>()"></select>
                            <span asp-validation-for="TLugar" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Img" class="form-label"></label>
                            <input asp-for="Img" class="form-control"/>
                            <span asp-validation-for="Img" class="text-danger"></span>
                        </div>
                         <div class="form-group">
                            <label asp-for="Img2" class="form-label"></label>
                            <input asp-for="Img2" class="form-control"/>
                            <span asp-validation-for="Img2" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ARids" class="form-label"></label>
                            <select asp-for="ARids" class="form-control" multiple asp-items="ViewBag.ars"></select>
                            <span asp-validation-for="ARids" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Gastos_Extraids" class="form-label"></label>
                            <select asp-for="Gastos_Extraids" class="form-control" multiple asp-items="ViewBag.ges"></select>
                            <span asp-validation-for="Gastos_Extraids" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TDestino" class="form-label"></label>
                            <select asp-for="TDestino" class="form-control"  asp-items="Html.GetEnumSelectList<TDestino>()"></select>
                            <span asp-validation-for="TDestino" class="text-danger"></span>
                        </div>
                         <div class="form-group">
                            <label asp-for="Img3" class="form-label"></label>
                            <input asp-for="Img3" class="form-control"/>
                            <span asp-validation-for="Img3" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                       Previsualización Imagen 1: <img width="100%" height="385" id="ImageUrlPreview" />
                    </div>
                <div class="col-md-12">
                       Previsualización Imagen 2: <img width="100%" height="385" id="ImageUrlPreview2" />
                    </div>
                <div class="col-md-12">
                       Previsualización Imagen 3: <img width="100%" height="385" id="ImageUrlPreview3" />
                    </div>

                    
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show all</a>
                    </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{ 
    <script>
        $("#Img").on("change", function () {
            var output = document.getElementById("ImageUrlPreview");
            output.src = $(this).val();
        })
        $("#Img2").on("change", function () {
            var output = document.getElementById("ImageUrlPreview2");
            output.src = $(this).val();
        })
        $("#Img3").on("change", function () {
            var output = document.getElementById("ImageUrlPreview3");
            output.src = $(this).val();
        })
    </script>
}